body{
    margin: 0%;
    padding: 0%;
}

h1{
    background-color: red;
    color: aliceblue;
}

p{
    background-color: black;
    color: aliceblue;
}

a, ul, li{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
}

header{
    background-color: grey;
}


div{
    display: flex;
    flex-direction: column;
    border: 3px;
    border-color: black
}

footer{
    background-color: red;
    color: aliceblue;
}