body{
    margin: 0%;
    padding: 0%;
}

a{
    text-decoration: none
}

h1{
    background-color: red;
    color: aliceblue;
}

p{
    background-color: black;
    color: aliceblue;
}

.card{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: azure;
    width: 150px;
    height: 120px;
    border-radius: 15px;
}

  .Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header{
    background-color: grey;
    height: 120px;
}


div{
    display: flex;
    flex-direction: column;
}

footer{
    background-color: red;
    color: aliceblue;
    height: 120px;
}