body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image:linear-gradient(to bottom,violet, black,darkviolet);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    background-image: url(/Img/Zoro.png);
}

img{
    height: 150px;
    width: auto;
    padding: 30px;
}


.card{
    display: inline-block;
    margin: 70px;
    height: 350px;
    width: 205px;
    border-radius: 10px;
    border: solid black;
    background-color: crimson;
    background-image: url(/Img/Luffy.png);
    transform: rotate(355deg);
    transition: 2s;
}

.card:hover{
    height: 350px;
    width: 280px;
    background-color: aliceblue;
}

input{
    text-align: justify;
    height: 20px;
    width: 25px;
    transition: 1s;
}

input:focus{
    height: 50px;
    width: 50px;
    font-size: 24px;
}

a,li,ul{
    display:flex;
    flex-direction: column;
    text-decoration: none
}

h1{
    height: 200px;
    display: inline;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: aliceblue;
    font-size: xx-large;
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

@keyframes aparecer {
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}

p{
    background-color: black;
    color: aliceblue;
    height: 100px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}



.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: initial;
    height: 300px;
    color: aliceblue;
    font-size: xx-large;
    list-style-type: none;
}

.Navbar, a:hover{
    color: rgb(12, 12, 12);
}

footer{
    background-image: linear-gradient(to right, darkviolet,black,violet);
    color: aliceblue;
    height: 120px;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
